* {
	padding: 0px;
	margin: 0px;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.2em;
}


.bg-viajes {
	background-color: rgba(0, 234, 255, 0.943);
}

h2 {
	margin-block: 32px;
}

/* CARRUSEL */
.carousel-item img {
	max-height: auto;
}

.btn {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
}

/* FIN CARRUSEL */


/* NAVBAR */
#logo img {
	max-width: 10%;
}

#navbar {
	z-index: 1000; /* Esto asegura que el menú esté por encima de otros elementos, como un carrusel */
	
}


li {
	font-size: 1.26em;
}
/* FIN NAVBAR */


/*QUIENES SOMOS*/
.icon1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 234, 255, 0.943);
    margin-bottom: 10px;
    }
    
    .icon2 {
        text-align: center;
        color: white;
        background-color: rgba(0, 234, 255, 0.943);
        margin-top: 10px;
        margin-bottom: 50px;
    }

/*FIN QUIENES SOMOS*/   



/* CARDS */

.card-img-top {
    height: 200px;
    object-fit: cover;
  }

/* FIN CARDS */  






/* FORMULARIO */ 
#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
/* FIN FORMULARIO */ 






/* FOOTER */

footer {
	height: 100px;
	margin-top: 50px;
	padding-inline: 6%;
}

i {
	font-size: 1.9em;
	padding-inline: 5px;
}

.icon {
    font-size: 24px;
    margin: 0 10px;
    color: #fff; 
    transition: color 0.3s;
  }

  .col1, .col2, .col3 {
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
}


